@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..1000;1,14..32,100..1000&family=Outfit:wght@100..900&display=swap');
        body{
            font-family: 'Outfit', sans-serif;
        }
        .nav-item:hover{
            background-color: #1e2025ff;
            border-radius: 5px;
        }
        .nav-item .nav-link{
            border-radius: 5px;
            transition: all 0.3s ease;
        }
        .nav-item .nav-link:hover{
            background-color: #1e2025ff;
            border-radius: 5px;
        }
        .sidebar {
            width: 260px;
            min-width: 260px;
            height: 100vh;
            background-color: #181a1bff;
        }
        main {
            height: calc(100vh - 56px);
            overflow-y: auto;
        }
        @media (min-width: 768px) {
            main {
                height: 100vh;
            }
        }